node_modules
.env*
!.env.example
!**/.env.example
.turbo
.next
dist
build
*.log
.DS_Store
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Generated Prisma Clients
/packages/database/generated/
