node_modules
.env*
.turbo
.next
dist
build
*.log
.DS_Store
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Generated Prisma Clients
/packages/control-client/*
!/packages/control-client/package.json
/packages/tenant-client/*
!/packages/tenant-client/package.json
